body {
    background-color: aqua;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;    /* Vertical centering */
    height: 100vh;          /* Ensure the body fills the viewport */
    margin: 0;              /* Remove default margin */
}
.box{
    border: 1px solid black;
    padding: 10px;
}
.row >label,input{
    font-size: 2rem;
}